<div class="navigation-menu">
    <div class="menu">
        <a routerLink="home" class="menus">Home</a>
        <div class="dropdown">
            <button class="dropdown-btn">Categories</button>
            <div class="dropdown-content">
                <a routerLink="/categories/programming">Programming</a>
                <a routerLink="/categories/design">Design</a>
                <a routerLink="/categories/math">Math</a>
            </div>
        </div>
        <a routerLink="/about" class="menus">About</a>
        <a routerLink="/add-resource" class="menus">Add Resource</a>
    </div>
</div>